<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
		<fastCgi>
            <application fullPath="C:\Program Files (x86)\php\php-cgi.exe" activityTimeout="600" instanceMaxRequests="10000">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                </environmentVariables>
            </application>
        </fastCgi>
        <rewrite>
            <rules>
                <clear />
                        <rule name="RuleRemoveIndex" stopProcessing="true">
                        <match url="^(.*)/(.*)/(.*)$" ignoreCase="false" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="./index.php/{R:2}/{R:3}" appendQueryString="true" />
                    </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
